<div class="container">
    <PageLoader class="outside" v-show="loader"></PageLoader>
    <Animated enter="zoomIn" leave="zoomOut" duration="500">
      <div v-if="init_load" class="form-forgot-password mt-4">
        <div :class="{ 'formError': $v.form.email.$error }">
            <label>Forgot Password</label>
            <input type="email" v-model.trim="$v.form.email.$model"  class="form-control mt-1" placeholder="Email Address">
            <span class="error" v-if="!$v.form.email.required">Email Address is required</span>
            <span class="error" v-if="!$v.form.email.email">Invalid Email Address</span>
        </div>
        <div class="row mb-2 mt-2">
          <div class="col-md-12" :class="{ 'formError': recaptcha_token_error }">
            <vue-recaptcha ref="recaptcha" @verify="onCaptchaVerified" @expired="onCaptchaExpired" sitekey="6LdGp7sUAAAAAB7Ao9fCkr-MKmtZ1K3qEoWt_V_H"></vue-recaptcha>
            <span class="error" v-show="recaptcha_token_error">Confirm that you are human</span>
          </div>
        </div>
        <div class="mt-3 text-center">
            <button class="btn btn-info btn-block" type="button" v-on:click="submitForgotPassword">Submit</button>
            <div class="mt-2 login-links">
                <router-link to="/login" class="ml-3">Back to Login</router-link>
            </div>
        </div>
      </div>
  </Animated>
  <Modal :title="modal.title" :content="modal.content" v-on:triggerOkButton="pushToLoginPage"></Modal>
</div>
